// Create Flex Container

@mixin flexy (
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null,
  $al-items: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $al-items;
}

@mixin center ($w:null) {
  width: $w;
  margin-left: auto;
  margin-right: auto;
}

@mixin grid-box {
  padding: $padding-sm;
  margin-bottom: $margin-xs;
  border-radius: 5px;
}
