// Colors
$color-primary: #50fcba;
$color-default: #50fce5;
$color-success: #75f97c;
$color-error: #f9849d;
$color-warning: #f25d07;
$color-info: #aa71ce;
$font-color-default: #878787;
$white: #fff;

// Grid Colors
$grid-col-12: #67FAC4;
$grid-col-6: #2F89D8;
$grid-col-4: #3EE9F4;
$grid-col-3: #C6A4FD;
$grid-col-5: #7AD585;
$grid-col-7: #D58E7A;
$grid-col-8: #DD6551;

// Fonts
$font-stack-primary: Nunito, Arial;


// Breakpoints
$break-sm: 480px;
$break-lg: 768px;

// Margins
$margin-xs: 1rem;
$margin-sm: 1.875rem;
$margin-lg: 2.25rem;
$margin-xl: 4.125rem;


// Padding
$padding-default: 1.25rem;
$padding-sm: .8125rem;