// Colors
$color-primary: #50fcba;
$color-default: #50fce5;
$color-success: #75f97c;
$color-error: #f9849d;
$color-warning: #f25d07;
$color-info: #aa71ce;
$font-color-default: #878787;
$white: #fff;

// Fonts
$font-stack-primary: Nunito, Arial;


// Breakpoints
$break-sm: 480px;
$break-lg: 768px;

// Margins
$margin-xl: 10rem;
$margin-lg: 5rem;

// Padding
$padding-default: 2rem;