$buttonList: ('default', 'success', 'error', 'warning', 'info');

//looping w/ 'button' mixin
@each $button in $buttonList {
    .btn--#{$button} {
      outline: none;
      @include button(map-get($btn-colors, #{$button}));
      @include tablet {
          flex: 1;
          margin: 0 .5rem;
      }

      &:hover {
        cursor: pointer;
      }

      &:active {
        background-color: darken( (map-get($btn-colors, #{$button}) ), 25%);
      }
    }
};

@include tablet {

  .grid__col--12 {
    @include flexy($dir: row, $just: center);
    p {text-align: left;}
  }
}



