.form {
  @include flexy($dir: column);

  &__label--hidden {
    display: none;
    outline: none;
  }

  &__input {
    border: none;
    border-bottom: 5px solid $color-primary;
    padding: $padding-sm;
    margin-bottom: $margin-sm;
    font-size: .9375rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
  }
}