//array of col--# and creating grid w/colors
$colNum: ('col--3', 'col--4', 'col--5', 'col--6', 'col--7', 'col--8', 'col--12');

@each $col-num in $colNum {
  .grid__#{$col-num}.theme__colors {
    @include grid-box($col-num);
  }
}

.container {
  color: $font-color-default;
  margin-top: $margin-xl;
  width: 85%;
  @extend %center;
}

.grid__row {
  @extend %center;
  @include flexy($dir: row, $wrap: wrap, $just: center, $al-items: center);
  margin-bottom: $margin-xl;
}

.grid {
  &__col--12,
  &__col--9,
  &__col--6,
  &__col--4 {
    width: 100%;
  }
}

.grid {
  &__col--6,
  &__col--12 {
    @include flexy($dir: column); 
  }
}

.grid__col--9 {
  text-align: center;
}



