    // Image:
    // .img--logo
    // .img--frame
    // .img--avatar

.img {
  &--frame {
    display: block;
    border: 1px solid $font-color-default;
    width: 90%;
    padding: 1rem;
    @extend %center;
  }

  &--avatar {
    width: 40%;
    align-self: center;
    margin-top: $margin-sm;
  }

}
